body{
    background-color: black;
    color: rgb(13, 112, 107);
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 50px;
    border-radius: 5px;
}
header{
    text-align: center;
    margin-bottom: 20px;
    background-color: blanchedalmond;
}
.navbar{
    background-color: rgb(13, 112, 107);
    padding: 10px;
}
.navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}
.nav-item{
    display: inline;
    margin: 0 10px;
}